




<html>
  <head>
    <title>mon potin numéro 0</title>
  </head>
  <body>
    <form action='/gossips/new' method='POST'>
    <h1>PAGE POTIN</h1>
    <p>Voici la page du potin n°<%= id %></p>
    son auteur : <%= author %>
   <br> le contenur du potin : <%= content %></p>

<p>Lien pour revenir à la page des potins <a href ="/gossips/new/">ici</a></p>
  
    </form>
  </body>
</html>








