<html>
  <head>
    <title>Créer un potin</title>
  </head>
  <body>
    <h1>Créé un potin !</h1>
    <p>Balance ton potin, BG</p>
    <form action='/gossips/:id' method='POST'>
      <p>
        Ton potin :
      </p>
     
      <input type='submit'/>
    </form>
  </body>
</html>